*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#gameStarter {
    position:absolute;
    top: 48%;
    left: 48%;
}

#temporizador {
    float:right;
    font-size: xx-large;

    margin: 5%;
}

#cuestionario {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
    text-align: center;
    
}

#respuestas {
    display: grid;
    grid-template-columns: 45% 45%;
    border: 4px solid black;
    justify-content: center;
    text-align: center;
}

.ans {
    border: 1px solid black;
}

.ans:hover {
    background-color: lightgray;
    cursor: pointer;
}