* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#masterDiv {
    background-color: #ffffffdd;
    padding: 15%;
    /*Ajuste para volverlo "responsive"*/
    min-width: 300px;
    max-width: 600px;
    /*Se define un minimo y un máximo de lo que puede ocupar*/ 
}
#gameStarter {
    display: flex;
    justify-content: center;
}

#gameStarter button, #next button{
    padding: 2% 5%; /*top-bottom left-right*/
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 100%;
    border-radius: 8px; 
}

#gameStarter button:hover, #next button:hover {
    background-color: #45a049;
    cursor: pointer;
}

/*Desplazamiento del temporizador en pantallas pequeñas*/
@media screen and (max-width: 600px) {
    #temporizador {
        position:absolute;
        top: 40%;
        left: 20%;
        font-size: 120%;
        margin-bottom: 10px; 
    }
}
@media screen and (min-width: 600px) {
    #temporizador {
        position:absolute;
        top: 10%;
        left: 70%;
        font-size: 120%;
        margin-bottom: 10px;
    }
}


#cuestionario {
    display: none;
    text-align: center;
}

#pregunta {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 10px;
}

#respuestas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.ans {
    padding: 7% 10%;
    background-color: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
}

.ans:hover {
    background-color: #dfe9f3;
}

#puntuacion {
    margin-bottom: 10px;
    font-size: 110%;
}

#next {
    display: none;
}

#endScreen {
    display: none;

    text-align: center;
    font-size: 150%;
    font-weight: bold;
    background-color: #ffffffdd;
    padding-top: 20%;
}

.sameLine {
    display: inline-block;
}